<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!

    <br/>
    Nome: <input type="text"  #nome ><br/>
    Idade: <input type="text"  #idade ><br/>
    Animal: <input type="text" #animal ><br/>

   


    Meu nome e: {{ user.name }}  <br/>
    Minha idade e: {{ user.age }} <br/>
    <div *ngIf="user.adresses  && user.adresses.length > 0" class="meuendereco">
      Enderecos: <br/>
      <div *ngFor="let adress of user.adresses">

      
      Meu endereco e: Rua {{ adress.street }} numero {{ adress.number }} em {{ adress.state }} <br/> <br/>
   
    </div>
      Nome do animal e: {{ animalName }} <br/>

   </div>

   <div id="endereco">
      Rua Endereco: <input type="text"  #enderecoRua ><br/>
      Numero Endereco: <input type="text"  #enderecoNumero ><br/>
      Estado Endereco: <input type="text"  #enderecoUF ><br/>
  </div>
  <div>

  </div>
  <button (click)="incluirEndereco(enderecoRua.value, enderecoNumero.value, enderecoUF.value)">Incluir Endereco</button>

    <button (click)="update(nome.value, idade.value, animal.value)">Alterar</button> 

    
  </h1>
  <button (click)="showAlert()">
    Click
  </button>
</div>



